body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

#preview-container {
  margin-top: 20px;
}

#preview {
  max-width: 300px;
  display: none;
  border-radius: 10px;
  border: 2px solid #000;
}
